.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-4{
    flex-basis: 10%;
    padding: -20px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    padding-bottom: 15px;
    cursor: pointer;
}
.col-4 h4{
    font-size: 2em;
}
.color{
    margin-top: -5%;
}
.col-4 img{
   max-width: 250px;
   max-height: 150px;
    align-items: center;
    
}
